@import url('https://fonts.googleapis.com/css?family=Nunito');

:root{
  --placeholder: black;
}

.card-countdown {
  border-radius: 15px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 40px;
}
.countdown {
  text-align: center;
  line-height: 20px;
  background-image: url('/src/assets/images/pink-texture-background.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: 600;
  bottom: 0;
  border-radius: 8px;
  height: 80px;
  width: 18vw;
  display: flex;
}

.ourstory-banner {
  background-image: url('/src/assets/images/white-wall-border.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ig-icon {
  width: 40px;
  height: 40px;
}

p.desc {
  min-height: 60px;
  margin-bottom: 0;
}

h1.playball {
    font-family: Playball, cursive !important;
    font-size: calc(5vw + 23px);
}
h2.playball {
    font-family: Playball, cursive !important;
    font-size: calc(5vw + 23px);
}

h3.playball {
  font-family: Playball, cursive !important;
  font-size: calc(2vw + 18px);
}

h3.bried-groom {
  margin: 0 0 5px 0;
}

.fh5co-cover .display-tc .btn {
  font-size: 16px;
  font-family: "Arima Madurai", cursive;
}

.fh5co-heading {
  margin-bottom: 3em;
}

.blur-background {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    color: white;
    inline-size: max-content;
}

.madurai{
    font-family: "Arima Madurai", cursive;
    text-align: center;
    margin: auto;
}

.modal-body.madurai {
  text-align: left;
}

.playball{
    font-family: Playball, cursive;
    text-align: center;
    font-size: calc(5vw + 25px);
}
.heading-white-background {
    text-shadow: rgb(197, 197, 197) 2px 2px 10px;
    color: #F14E95;
}
.heading-color-background {
    color: rgb(255, 255, 255);
}

.blur-background .greeting{
    font-family: "Arima Madurai", cursive;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .blur-background.greeting{
    max-width: 350px;
  }
  p.desc {
    min-height: 0px;
    margin-bottom: 0;
  }
}

p.story-desc {
  letter-spacing: -1px;
}

.frame {
    width: calc(30vw + 150px);
}

.frame.event {
    filter: invert();
}

/* .heart i {
    font-size: 30px;
    padding: 10px;
} */

.covid-img {
  width: 90px;
  height: 90px;
}

.covid-desc {
  line-height: 18px;
}

.covid-banner, .countdown-banner {
  background-image: url('./assets/images/background1.png');
  background-size: 100% 101%;
  padding-top: 50px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  min-height: 400px;
}
.covid-banner::before {
  content: '';
  width: 200%;
  height: 50px;
  position: absolute;
  bottom: -10%;
  left: -50%;
  background-color: white;
}

.countdown-banner::before {
  content: '';
  width: 200%;
  height: 50px;
  position: absolute;
  bottom: -10%;
  left: -50%;
  background-color: white;
}

.h3-covid {
  font-size: 4em !important;
}

@media only screen and (max-width: 600px) {
  .covid-banner::before {
    height: 80px;
  }
  .countdown-banner::before {
    height: 80px;
  }
  .covid-desc {
    font-size: 15px;
  }
  .h3-covid {
    font-size: 2em !important;
  }
}

.carousel-briedsmaid {
  display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/2);
    height: 100px;
    font-family: Signika;
    font-weight: bold;
    font-size: 1.5em;
    border: solid 1px black;
    background-color: #61DAFB;
    
    @media(max-width: 1150px) {
        width: 100%
    }
}

.card-guestbook {
  height: 500px;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1.5px solid white;
  /* overflow-y: scroll; */
  padding-right: 17px;
}

#guest-book {
  /* height: 500px;
  padding: 1.5rem;
  background-color: rgb(255, 230, 234);
  border-radius: 15px;
  border: 1.5px solid rgb(255, 164, 179); */
  overflow-y: scroll;
  /* padding-right: 17px; */
}

#guest-book::-webkit-scrollbar {
  display: none;
}

#form-book {
  border-radius: 15px;
}

.prefix-icon{
  position: absolute;
  margin-left: 15px;
  margin-top: 12px;
  font-size: 25px;
  display: flex;
  z-index: 1;
  align-items: center;
}

.form-borderless{
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 55px;
  height: 50px;
  border: 0;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgb(111, 111, 111);
}

.form-borderless::placeholder {
  color: var(--placeholder);
}

.form-borderless:focus  {
  box-shadow: 2px 2px 13px blue;
  padding-left: 55px;
}

.top-frame {
  width: 100%;
  filter: invert();
  background-repeat: no-repeat;
  margin-top: -90px;
}
.bottom-frame {
  width: 100%;
  filter: invert();
  background-repeat: no-repeat;
}

#greeting {
  padding-bottom: 30px;
}

footer {
  background-color: black;
  height: 7em;
  width: 100%;
}

select:required:invalid {
  color: var(--placeholder);
}


/* REACT SIMPLE LIGHT BOX */
/* gambar di lightbox */
.css-1eqfn0t {
  border-radius: 20px;
}

/* thumbnail di lightbox */
.css-1o906pp {
  height: 110px;
  margin: 0 4px;
}

@media (max-width: 768px){
  .css-1o906pp {
      height: 100px !important ;
      width: 80px;
      margin-bottom: 60px !important;
  }
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.modal-header {
  border-bottom: none;
}

.rekening-logo {
  width: 9rem;
  /* -webkit-filter: drop-shadow( 1px 1px 1px rgb(255, 255, 255)); */
  filter: drop-shadow( 0px 0px 4px rgb(255, 255, 255));
}

.gift-logo{
  width: 35%;
  margin-bottom: 30px;
}

/* .select{
  font-size: 18px;
} */
.modal-content {
  transition: all 0.5s ease-in-out;
  background-color: rgba(48, 47, 47, 0.377);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(30px);
  border: 1px solid gold;
  -webkit-backdrop-filter: blur(15px);
  border-radius: 30px;
}
.select:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgb(255, 109, 199);
}

.btn-shadow {
  box-shadow: 0.5px 0.5px 8px rgba(255, 0, 179, 0.411);
}

.not-found-banner {
  height: 90vh;
  display: flex;
}

.notfound-img {
  width: 300px;
}

#loading {
  width: 20px;
  height: 20px;
}